In [1]:
list1=['apple','orange','grape']

In [2]:
### print the 2nd item from the list

print(list1[1])

orange

In [3]:
### change apple to lemon


list1[0]="lemon"
print(list1)

['lemon', 'orange', 'grape']

In [4]:
### Add watermelon to the list

list1.append('water melon')
print(list1)

['lemon', 'orange', 'grape', 'water melon']

In [5]:
### Remove orange

list1.remove('orange')
print(list1)

['lemon', 'grape', 'water melon']

In [6]:
### Print the last item

print(list1[-1])

water melon

In [7]:
### print the first and second item

print(list1[:2])

['lemon', 'grape']

In [8]:
### print number of items

print(len(list1))

3

## Python Conditional Statements

In [9]:
x=int(input("Enter first number"))
y=int(input("Enter the second number"))
if x>y :
    print(x,"is greater than" ,y)
elif x<y :
    print(x,"is less than", y)
if x==y :
    print("Both are equal")

Enter first number41
Enter the second number63
41 is less than 63

In [10]:
### Write a pgm to check whether a number entered by user is even or odd

x=int(input("Enter any number : "))
if x%2 == 0:
    print(x, " is an Even number")
else:
    print(x, " is an Odd number")

Enter any number : 89
89  is an Odd number

In [11]:
### Write a pgm to check whether a person is eligible for voting or not

age=int(input("Enter your age: "))

if age >= 18 :
    print(" You are eligible")
else :
    print(" You are not eligible")

Enter your age: 8
 You are not eligible

In [12]:
### Write a pgm to check whether a number is divisible by 7 or not 

n=int(input("Enter the number: "))
if n%7 == 0 :
    print(n,"is divisible by 7")
else:
    print(n,"is not divisible by 7")

Enter the number: 70
70 is divisible by 7

In [13]:
# ### Write a pgm to display "Hello" if a number entered by user is multiple of 5, otherwise print "Bye"

n=int(input("Enter a number: "))

if n%5 == 0 :
    print("Hello")
else :
    print("Bye")

Enter a number: 25
Hello

In [14]:
### Write a pgm to accept percentage from user and display the grade according to the following criteria

### Marks            Grade
### >90               A
### >80 and <=90      B 
### >60 and <=80      C
### below 60          D 

mark=int(input("Enter your mark percentage: "))

if mark > 90 :
    print("Grade : A")
elif mark >80 and mark <=90 :
     print("Grade : B")
elif mark >60 and mark <=80 :
     print("Grade : C")  
else:
    print("Grade :  D")

Enter your mark percentage: 65
Grade : C

In [15]:
### Write a pgm to display the last digit of a number

n=int(input("Enter the number: "))
rem=n%10
print("last digit of",n ,"is",rem)

Enter the number: 86147
last digit of 86147 is 7

In [16]:
### Write a pgm to display the last digit of a number is divisible by 3 or not

n=int(input("Enter the number: "))
rem=n%10

if rem % 3 == 0 :
    print(n,"is divisible by 3")
else:
    print(n,"is not divisible by 3")

Enter the number: 95263
95263 is divisible by 3

In [17]:
### Print the first 10 natural number using "for" loop

for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
### Print the first 10 natural number using "for" loop

i=1
while (i < 11):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [19]:
### Print all the even numbers upto 20

for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [20]:
### Print all the even numbers upto 20

for i in range(2,21):
    if i%2 == 0 :
        print(i)

2
4
6
8
10
12
14
16
18
20

In [21]:
### Print all the odd numbers upto 10

for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [22]:
### Print all the odd numbers upto 10

for i in range(1,11):
    if i%2 != 0 :
        print(i)

1
3
5
7
9

In [23]:
### Calculate the sum of all numbers from 1 to 10

sum=0

for i in range(1,11):
    sum=sum+i
print(sum)

55

In [24]:
### Print the sum of all odd number

x=int(input("Enter the number: "))
sum=0

for i in range(1,x+1):
    if i%2 !=0:
        sum= sum + i
print(sum)

Enter the number: 6
9

In [25]:
### print the multiplication table of a given number

n=int(input("Enter a number: "))

for i in range(1,11):
    print(i,'X',n,'=',i*n)

Enter a number: 8
1 X 8 = 8
2 X 8 = 16
3 X 8 = 24
4 X 8 = 32
5 X 8 = 40
6 X 8 = 48
7 X 8 = 56
8 X 8 = 64
9 X 8 = 72
10 X 8 = 80

In [26]:
a="Hello"
for i in a:
    print(i)

H
e
l
l
o

In [27]:
a="HELLO"
for i in range(len(a)):
    print(a[i])

H
E
L
L
O

In [35]:
### print the characters from a string that are present at even index

str="My name is Suhaina"
x=len(str)

for i in range(0,x,2):
    print(str[i])

M

a
e
i

u
a
n

In [29]:
### print the characters from a string that are present at even index

str="My name is Suhaina"
for i in range(len(str)):
    if i%2==0:
        print(str[i])

M

a
e
i

u
a
n

In [37]:
### Check if the first and last item of a list are same

list1=[1,2,3,4,1]

if list1[0]==list1[-1]:
    print("Items are same")
else :
    print("Not same")

Items are same

In [38]:
### print the numbers that are divisible by 5 from a given list

a=[5,14,20,25,6]
for i in range(len(a)):
    if a[i]%5 == 0:
        print(a[i])

5
20
25

In [39]:
### print the numbers that are divisible by 5 from a given list

a=[5,14,20,25,6]

for i in a:
    if i%5==0:
        print(i)

5
20
25

In [46]:
for i in range(6):
    for j in range(i+1):
        print('*',end="")
    print()

*
**
***
****
*****
******

#### Date: 07-06-2023

In [11]:
L1=['M','na','i','ke']
L2=['y','me','s','lly']
a=[]

#for i in L1:
 #   for j in L2:
  #      b=i+j
   # a.append(b)
#print(a)    



for i in range(len(L1)):
    for j in range(len(L2)):
     b=L1[i]+L2[i]
    a.append(b)
print(a)

['My', 'name', 'is', 'kelly']

In [16]:
l1=['Hello','take']
l2=['Dear','Sir']
#op["Hello Dear","Hello Sir","Take Dear","take Sir"]
a=[]

for i in l1:
    for j in l2:
        x=i+" "+j
        a.append(x)
print(a)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [17]:
#i/p a=[1,2,3,4,5]
#o/p b=[1,4,9,16,25]

a=[1,2,3,4,5]
b=[]
for i in a:
    x=i*i
    b.append(x)
print(b)

[1, 4, 9, 16, 25]

In [18]:
#list1=[10,20,[300,400,[5000,6000],500],30,40]
#o/p=[10,20,[300,400,[5000,6000,7000],500],30,40]

list1=[10,20,[300,400,[5000,6000],500],30,40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [23]:
## Write a pgm to calculate the factorial of a number

n=int(input("Enter a number: "))
f=1
for i in range(1,(n+1)):
    f=f*i
print("Factorial=",f)

Enter a number: 5
Factorial= 120

In [25]:
## Print the numbers -10 to -1

for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [26]:
# write a pgm to reverse a number

num=int(input("Enter a number: "))
reverse=0
while(num>0):
    reminder=num%10
    reverse=(reverse*10)+reminder
    num=num//10
print(reverse)

Enter a number: 7643
3467

In [31]:
## Calculate the cube of all number from 1 to a given number

a=[]
n=int(input("Enter a number:"))

for i in range(1,n+1):
    cube=i**3
#print(cube)    
    a.append(cube)
print(a)

Enter a number:10
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [35]:
### Delete a list of keys from a dictionary

# person1={ Name: John
           # Age: 23
 #           Salary: 25000
   #             City: New Delhi

#}
#keys[Name,Salary]

person1={ 'Name': 'John',
        'Age':23,
        'Salary':25000,
        'City': 'New Delhi'
        }

keys=['Name','Salary']

for k in keys:
    person1.pop(k)
print("updated:",person1)

updated: {'Age': 23, 'City': 'New Delhi'}

In [40]:
for i in range(5):
    for j in range(i+1):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4